
.timeline {
  position: relative;
  /*border: 1px solid lightgray;*/
  background: white;
}

.timeline-groups {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  bottom: 0;
  border-right: 1px solid lightgray;
  box-shadow: 6px 0 4px -4px rgba(0, 0, 0, 0.15);
}

.timeline-contents {
  position: absolute;
  left: 100px;
  right: 0;
  top: 0;
  height: 100%;

  overflow: hidden;
}

.timeline-groups,
.timeline-contents {

}

.timeline-right-side {
  position: absolute;
  right: -100px;
  top: 0;
  width: 100px;
  bottom: 0;
  border-left: 1px solid lightgray;
  box-shadow: -6px 0 4px -4px rgba(0, 0, 0, 0.15);
}

.timeline-axis {

}

.timeline-axis-grids {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.timeline-axis-grid {
  position: absolute;
  top: 0;

  /*border-left: 1px solid #e5e5e5;*/
  height: 100%;
}

.timeline-axis-labels {
}

.timeline-axis-label {
  position: absolute;
  color: gray;
  padding: 3px;
  border-left: 2px solid gray;
  background: white;
}

.timeline-group-label {
  font-weight: bold;
}

.timeline-group {
  margin-top: 16px;
}

.timeline-group-contents {
  background-color: #f5f5f5;

}

.timeline-group-first {
  margin-top: 40px;
}

.timeline-item {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
}

.timeline-item-range {
  box-sizing: border-box;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  padding: 0 4px;
}

.timeline-item-point {
  overflow: visible;
  height: 24px;
  line-height: 24px;
}

.timeline-item-inner {
  height: 24px;
  padding: 0 2px;
  margin-left: 2px;
  background-color: #f5f5f5;
}

.timeline-menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.timeline input[type="button"] {
  background: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  margin: 5px;
}

.timeline input[type="button"]:hover {
  background: #f1f1f1;
}

.timeline input[type="button"]:disabled {
  background: lightgray;
}
