body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: "Droid Sans", sans-serif;
}

#app {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 10px;
}

#debugger {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  padding: 10px;
  background-color: lightyellow;
  border-left: 1px solid gold;
}
